{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "reactRuntime": "automatic",
        "importSource": "theme-ui", 
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
